body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
}

.container {
    width: 80%;
    height: 100vh;
    background-color: rgb(175, 124, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.green {
    background-color: green;
}

.font {
    font-size: 5rem;
}

.text {
    display: none;
}

.show {
    display:unset;
}